<h1>Stupid coaching</h1>
<div class="message">
  <p><strong>- You</strong></p>
  <p><%= @ask %></p>
</div>
<div class="message">
  <p><strong>- Your coach</strong></p>
  <p><%= @answer %></p>
</div>

<a><%= link_to "Ask another question", ask_path %></a>
